<h2>Add Movie</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Movie Name</label>
    <input type="text" name="name" required>

    <label>Genre</label>
    <input type="text" name="genre" required>

    <label>Duration</label>
    <input type="text" name="duration" placeholder="2h 30m" required>

    <label>Movie Poster</label>
    <input type="file" name="image" accept="image/*" required>

    <label>Trailer Video</label>
    <input type="file" name="video" accept="video/*">

    <button type="submit">Add Movie</button>
</form>